<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.salesw.ClientInfoMapper">
	<insert id="insertClientInfo" parameterType="ClientInfo">
		insert into
		clientInfo
		(clientCode,clientName,clientCustId)
		values
		(#{clientCode},#{clientName},#{clientCustId})
	</insert>
</mapper>
   