<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.salesw.SysUserMapper">
	<select id="selectSysUserByuserNameByuserPassword" parameterType="SysUser" resultType="SysUser">
		select * from sysUser where userName=#{userName} and userPassword=#{userPassword}
	</select>
	
	<select id="selectSysUserByCondition" parameterType="SysUser" resultType="SysUser">
		select * from sysUser 
		<where>
		<if test="userRoleId!=null and userRoleId!=''">
			and userRoleId=#{userRoleId}
		</if>
		<if test="userId!=null and userId!=''">
			and userId=#{userId}
		</if>
		</where>
	</select>
	
</mapper>
   