<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.clientsMapper">

	

	<!--服务创建界面需要的操作-->
	<insert id="insertData" parameterType="ClientServer">
		insert into clientserver (serverTitle,clientCode,serverTypeId,serverCreateId,serverContent,serverCreateDate,serverStatus) values(#{serverTitle},#{clientCode},#{serverTypeId},#{serverCreateId},#{serverContent},#{serverCreatDate},1)
	</insert>
	
    <!--显示分配、处理、反馈、归档界面时要用到的查询-->
	<select id="selectUndistributed" resultMap="ClientServer" parameterType="int">
	    select * from clientserver where serverstatus=#{serverStatus}
    </select>
    <select id="selectUndistributedByConditions" resultMap="ClientServer" parameterType="String,String,int,int">
	    select * from clientserver 
	    <where>
	        <if test="clientCode!=null">and clientCode=#{clientCode}</if>
	        <if test="serverTitle!=null">and serverTitle=#{serverTitle}</if>
	        <if test="serverTypeId!=null">and serverTypeId=#{serverTypeId}</if>
	        <if test="true">and clientCode=#{serverStatus}</if>
	    </where>
    </select>
    <!--服务分配界面需要的操作-->
    <update id="updateDue" parameterType="int,String,int">
        update clientserver set serverdueid=#{serverDueId},serverduedate=#{serverDueDate}，serverStatus=2 where serverid=#{serverId}
    </update>
    <delete id="deleteByserverId" parameterType="int">
        delete from clientserver where serverid=#{serverId}
    </delete>
	<!--服务处理界面需要的操作-->	
	<update id="updateProcessing" parameterType="String,String,int">
        update clientserver set serverprocessing=#{serverProcessing},processingdate=#{processingDate}，serverstatus=3 where serverid=#{serverId}
    </update>
    <!--服务反馈界面需要的操作-->	
    <update id="updateFeedback" parameterType="String,int,int">
        update clientserver set processingresult=#{processingResult},clientcontentment=#{clientContentment}，serverstatus=4 where serverid=#{serverId}
    </update>
    <!--服务归档界面需要的操作-->	
    <select id="selectByServerId" resultMap="ClientServer" parameterType="int">
	    select * from clientserver where serverid=#{serverId}
    </select>



</mapper>