<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.neusoft.mapper.custsw.ClientReprieveLoseMapper">
	<insert id="updateClientReprieveLose"
		parameterType="ClientReprieveLose">
		insert into
		clientReprieveLose
		values
		(#{clientReprieveLoseId},#{reprieveStep},
		#{clientCode})
	</insert>
	<update id="updateClientInfo" parameterType="ClientInfo">
		update
		clientInfo
		set clientCountryTax = 2
		where clientCode=#{clientCode}
	</update>
	<update id="updateClientLose" parameterType="ClientInfo">
		update
		clientInfo
		set clientCountryTax = 3,
		clientLoseReason=#{clientLoseReason},
		clientLoseDate=#{clientLoseDate}
		where clientCode=#{clientCode}
	</update>
</mapper>