<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.mapper.custsw.ClientLinkmanMapper">
	<insert id="insertClientLinkman" parameterType="ClientLinkman">
		insert into
		clientLinkMan
		values
		(#{clientLinkmanId},#{clientLinkmanName},
		#{clientLinkmanSex},#{clientLinkmanJob},
		#{clientLinkmanTel},#{clientLinkmanMobile},
		#{remark},#{clientCode})
	</insert>
	<update id="updateClientLinkman" parameterType="ClientLinkman">
		update
		clientLinkMan
		set clientLinkmanId=#{clientLinkmanId},
		clientLinkmanName=#{clientLinkmanName},
		clientLinkmanSex=#{clientLinkmanSex},
		clientLinkmanJob=#{clientLinkmanJob},
		clientLinkmanTel=#{clientLinkmanTel},
		clientLinkmanMobile=#{clientLinkmanMobile},
		remark=#{remark}
		where clientCode=#{clientCode}
	</update>
	<select id="selectClientLinkmanAll" parameterType="int" resultType="ClientLinkman">
		select * from clientLinkman where clientCode=#{clientCode}
	</select>
	
	<insert id="insertClientLinkman1" parameterType="ClientLinkman">
		insert into
		clientLinkman
		(clientLinkmanName,clientLinkmanSex,clientLinkmanJob,clientLinkmanTel,clientCode)
		values
		(#{clientLinkmanName},#{clientLinkmanSex},#{clientLinkmanJob},#{clientLinkmanTel},#{clientCode})
	</insert>
	
</mapper>